@page "/C_Detalles"

@using Parcial2.Models
@using Parcial2.BLL 


<EditForm Model="lista">
    <div class="card">
    
        <div class="card-header">
            <h4>Consulta Detalles </h4>
        </div>

        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <InputSelect class="form-control col-2" @bind-Value="Filtro">
                        <option value="0">1. Consultar todos los productos registrados</option>
                        <option value="1">2. Id</option>
                        <option value="2">3. Presentacion</option>
                       
                        
                    </InputSelect>

                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <InputText class="form-control" @bind-Value="Criterio" />
                    </div>

                    
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Consultar"><span
                            class="oi oi-magnifying-glass"></span>Consultar</button>

                </div>
    
                
            </form>
    
        </div>
    
         <table class="table table-light table-striped table-bordered">
            <thead class="thead">
                <tr class="table">

                    <th>ProductoId</th>

                    <th>Presentacion</th>

                    <th>Cantidad</th>    

                    <th>Precio</th>          

                    <th>Existencia Empacada</th>    

                  
                    
                </tr>
            </thead>
    
            <tbody>
                @if (lista is not null)
                {
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.ProductoDetalleId</td>
                        
                        <td>@item.Presentacion</td>
                        
                        <td>@item.Cantidad</td>

                        <td>RD$ @item.Precio</td>

                        <td>@empacados.CantidadUtilizada</td>
                      
                         <td><a class="btn btn-sm btn-outline-dark oi oi-eye" href="R_Productos/@item.ProductoDetalleId"></a>
                        </td>
                    </tr>
                }
                }
            </tbody>
            
    
        </table>
    
    </div>
</EditForm>


@code{
    
    [EditorRequired]
    public string Filtro { get; set; } = String.Empty;
    public string Criterio { get; set; } = String.Empty;
    


    [Inject]
    public ProductoBLL productoBLL { get; set; }

    public List<ProductosDetalle> lista { get; set; } = new List<ProductosDetalle>();

        public EntradaEmpacados empacados { get; set; } = new EntradaEmpacados();
        
     bool listado = false;



    private void Consultar()
    {

       
        if (Criterio != null)
        {
            switch (Filtro)
            {

                 case "0": //Todos
                    lista = productoBLL.GetDetalles(p => true);
                    
                    
                    break;
                case "1":
                    lista = productoBLL.GetDetalles(p => p.ProductoDetalleId == int.Parse(Criterio));
                    
                    break;
                case "2":
                    lista = productoBLL.GetDetalles(p => p.Presentacion.Contains(Criterio));
                    
                    break;
                
                 

            }
        }
        else
        {
            
            lista = productoBLL.GetDetalles(p => true);

        }    
}
}