@page "/P_Empacados"

@page "/P_Empacados/{EmpacadosId:int}"

@inject IToastService toastService

<EditForm Model="entradaEmpacados" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

     <div class="card shadow-lg">

        <div class="card align-items-center">

            <div class="card-header align-items-center">
                
                <h3 class="card-title">Entrada de productos Empacados</h3>
            </div>

            <div class="card-body">

                @* Buscar *@
                <div class="form-group align-items-right">

                    <div class="form-row">

                        <label>Id</label>

                        <div class="input-group">

                            <InputNumber @bind-Value="entradaEmpacados.EmpacadosId " class="form-control col-4 col" />
                            <ValidationMessage For="@(() => EmpacadosId)" />

                            <div class="input-group-append col">
                                <button type="button" class="btn btn-primary input-group-text "
                                    @onclick="Buscar"><span class="oi oi-magnifying-glass"></span></button>
                            </div>
                        </div>
                    </div>                 
                </div>

               <br>
                 
 
                <div class="row">


                @* Fecha *@
                <div class="form-group">
                    <label>Fecha</label>
                    <InputDate @bind-Value="entradaEmpacados.Fecha" />
                    <ValidationMessage For="@(() =>entradaEmpacados.Fecha)" />
                </div>
 

                    @* Concepto *@
                    <div class="form-group mt-3">
                        <label>Concepto</label>
                        <InputText class="form-control" @bind-Value="entradaEmpacados.Concepto" placeholder="Concepto Producto"/>
                        <ValidationMessage For="@(() => entradaEmpacados.Concepto)" />
                    </div>


                </div>

                <br> @* br Da espacios *@

                     @* hr Una linea *@

                      @* Utilizados *@
                       
                <div class="card align-items">
                    <div class="row">
  
                    
                        <h3>Utilizados</h3>
                   
                      @* Producto *@
                    <div class="form-group col ">
                        <label>Producto</label>
                          <InputSelect class="form-control col-2 " @bind-Value="Utilizados"> 
                            <option disabled value='0'>Seleccione un producto</option>
                            @foreach (var item in  productoBLL.GetListaProductos()) 
                                {
                                    <option value="@item.ProductoId" >@item.Descripcion
                                       
                                    </option> 

                                    Descripcion = @item.Descripcion;
                                    Peso = @item.Peso*@empacadosDetalle.Cantidad;
                                }  

                                
                            </InputSelect>
                            </div>

                       @* Cantidad *@
                    <div class="form-group col">
                        <label>Cantidad</label>
                        <InputNumber class="form-control" @bind-Value="empacadosDetalle.Cantidad"/>
                        
                    </div>

                       
                       @* Boton Add *@
                    <div class="form-group col-2">
                      <button type="button" class="btn btn-primary" @onclick="AgregarProducto">
                      <span class="oi oi-plus">Add</span>
                      </button>
                    </div>

                    </div>

                    
                       <br> 
                        <table class="table table-light">
                            <thead class="thead-dark">
                                <tr class="table-light">
                                    

                                    <th>ProductoId</th>

                                    <th>Descripcion</th>

                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                 @if (entradaEmpacados.EmpacadosDetalle is not null)
                              {
                                @foreach (var item in entradaEmpacados.EmpacadosDetalle)
                                {
                                    <tr>
                                       
                                        <td>@item.EmpacadosDetalleId</td>
                                        <td>@entradaEmpacados.Concepto</td>
                                        <td>@item.Cantidad</td>

                                        <td><span class="oi oi-trash text-danger oi oi-x" href="#"  title='Remover Producto'
                                          @onclick=" (() => RemoverProducto(item)) "> </span></td>
                                    </tr>

                                          
                                }
                                }
                    
                                
                            </tbody>
                        </table>
                         @* Peso *@
                    <div class="form-group mt-8 ">
                        <label>Peso Total</label>
                        <InputNumber readonly class="form-group col" @bind-Value="Peso" />
                        <label>Gr</label>
                        <ValidationMessage For="@(() => Peso)" />
                    </div>
                           <br>
                             </div>
                             <br>

                      @* Producidos *@
                       
                <div class="card align-items">
                    <div class="row">

                    
                        <h3>Producido</h3>
                   
                    
                    <div class="form-group col ">
                        <label>Producto</label>
                    
                    
                        <InputSelect class="form-control col-2 " @bind-Value="Producidos"> 
                            <option disabled value='0'>Seleccione una Presentacion</option>
                            @foreach (var item in  productoBLL.GetListaDetalles())
                                {
                                    <option value="@item.ProductoDetalleId" >@item.Presentacion
                                    </option>
                                } 
                         </InputSelect> 

                       </div>



                       @* Cantidad Producidos *@
                    <div class="form-group col">
                        <label>Cantidad</label>
                        <InputNumber class="form-control" @bind-Value="entradaEmpacados.CantidadProducida"/>
                        
                    </div>

                   </div>
                   
                   </div>
                   </div>
                   
                   
                            <div class="card-footer">

                @* Botones *@
                <div class="form-group text-center" display: inline-block>
                    
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                    <span class="oi oi-plus">Nuevo</span>
                    </button>
                    
                    <button type="submit" class="btn btn-lg btn-success" @onclick="Guardar">
                    <span class="oi oi-clipboard">Guardar</span>
                    </button>

                    
                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                    <span class="oi oi-circle-x">Eliminar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
            


</EditForm>

@code {

  
    
    

    [EditorRequired]
    
    public string Descripcion { get; set; } = String.Empty;
    public String Producidos { get; set; } = String.Empty;
    public String Utilizados { get; set; } = String.Empty;
    
    public int Cantidad {get; set;}
    public float Peso { get; set; } 
    

    [Parameter]
    
    public int EmpacadosId { get; set; }

      
    public EntradaEmpacados entradaEmpacados {get; set; } = new EntradaEmpacados();
    public EmpacadosDetalle empacadosDetalle {get; set; } = new EmpacadosDetalle();
    public Productos producto { get; set; } = new Productos();
   


    [Inject]
    public ProductoBLL productoBLL { get; set; }

    [Inject]
    public EntradaEmpacadosBLL entradaEmpacadosBLL { get; set; }


     protected override void OnInitialized()
    {
         entradaEmpacados.EmpacadosId = EmpacadosId;
         Buscar();
    }

    public void Nuevo()
    {
        toastService.ShowInfo("Nuevo producto");
        entradaEmpacados = new EntradaEmpacados();
        this.entradaEmpacados.EmpacadosDetalle = new List<EmpacadosDetalle>();
  
    }

   


  public void Buscar()
    {
        if (this.entradaEmpacados.EmpacadosId > 0)
        {
            EntradaEmpacados encontrado = entradaEmpacadosBLL.Buscar(this.entradaEmpacados.EmpacadosId);
            
            if (encontrado != null)
            {

                
                this.entradaEmpacados = encontrado;
            }
            else
            {
                toastService.ShowError("Producto no encontrado");
            }
        }
    
    }

    

       public void Guardar()
       {
           
        
        if (entradaEmpacadosBLL.Guardar(this.entradaEmpacados))
        {
            
            toastService.ShowSuccess("Se guardó exitosamente");
            Nuevo();
        }
        else
            toastService.ShowError("No se pudo guardar.");
    }

     public void Eliminar()
    {
        if (entradaEmpacadosBLL.Eliminar(entradaEmpacados.EmpacadosId))
        {
            Nuevo();
            toastService.ShowSuccess("Eliminación con exito");
        }
        else
        {
            toastService.ShowError("Error, Eliminación fallida");
        }
    }

   public void AgregarProducto()
    {


        this.producto = productoBLL.Buscar(this.entradaEmpacados.EmpacadosId);
        this.empacadosDetalle.producto = producto;
        this.empacadosDetalle.EmpacadosDetalleId = producto.ProductoId;
        this.empacadosDetalle.producto.Descripcion = producto.Descripcion;
        bool existe = entradaEmpacados.EmpacadosDetalle.Any(p => p.EmpacadosDetalleId == empacadosDetalle.EmpacadosDetalleId);
        if (!existe) 

            this.entradaEmpacados.EmpacadosDetalle.Add(this.empacadosDetalle);

        else
        {
            
            empacadosDetalle.Cantidad = Cantidad;
            empacadosDetalle.EmpacadosDetalleId = empacadosDetalle.EmpacadosDetalleId;
            this.entradaEmpacados.EmpacadosDetalle.Add(this.empacadosDetalle);
        }
        this.empacadosDetalle= new EmpacadosDetalle();
        this.producto = new Productos();

        
         
    }
    

    private void RemoverProducto(EmpacadosDetalle item)
    {
         toastService.ShowInfo("Producto removido");
        this.entradaEmpacados.EmpacadosDetalle.Remove(item);
    }


}

